.git
.gitignore
.github
.venv
.env
.env.*
*.log
__pycache__
**/__pycache__
*.py[cod]
notebooks
data
db
models
data_scinano.zip
tests
docs
.pytest_cache
.mypy_cache
.ruff_cache
node_modules
README.md
docker-compose.yml
